<script
	type="text/x-handlebars"
	data-template-name="components/categories-with-featured-topics"
>
	<div class="category-thing core">
	{{categories-only categories=(filter-core categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div>

	<!-- <div class="category-thing interstate">
	{{categories-only categories=(filter-interstate categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div> -->

	<div class="category-thing togr">
   {{categories-only categories=(filter-togr categories) latestTopicOnly=latestTopicOnly showTopics=true}}
   </div>

	<div class="category-thing apps-appeals">
	{{categories-only categories=(filter-apps-appeals categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div>

	<div class="category-thing dev">
	{{categories-only categories=(filter-dev categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div>

	<div class="category-thing private">
	{{categories-only categories=(filter-private categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div>

	<div class="category-thing closed">
	{{categories-only categories=(filter-closed categories) latestTopicOnly=latestTopicOnly showTopics=true}}
	</div>
</script>